language: scala
sudo: false
scala:
  - "2.11.12"
  - "2.12.8"
jdk:
  - oraclejdk8
  - openjdk11
sbt_args: -J-XX:ReservedCodeCacheSize=128m
script:
  # make 'git branch' work again
  - git branch -f "$TRAVIS_BRANCH" && git checkout "$TRAVIS_BRANCH"
  - sbt ++$TRAVIS_SCALA_VERSION test
  # check policies, if on master also upload
  - if [[ "$TRAVIS_BRANCH" == "master" && "$TRAVIS_EVENT_TYPE" == "push" && "$TRAVIS_JDK_VERSION" == "oraclejdk8" ]]; then sbt 'set credentials += Credentials("whitesource", "whitesourcesoftware.com", "", System.getenv("WHITESOURCE_KEY"))' whitesourceCheckPolicies whitesourceUpdate; else sbt 'set credentials += Credentials("whitesource", "whitesourcesoftware.com", "", System.getenv("WHITESOURCE_KEY"))' whitesourceCheckPolicies; fi

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot

env:
  global:
    # encrypt with: travis encrypt WHITESOURCE_KEY=...
    - secure: "tQ7+MgNNH5Y8wE8w6KTlbSHe3jtgQ4yc1SVaty7KK7ImZLEjLC5yO9PvXMUst/+5E4G2DsAuZdG8LInD3L7Y5tNNPer9NFOTJnzhAZf8R1YeuvX76ofMf31oyfqR8IPJPxOBkBAmMiz/Xioa+oqmsdbXlVP6OUsic7jegMPqjamy/ZAJ8/8MCn6g9AQNqajg8z27aOPXO96wLEEMR82FXffARIDlwbrtxBpEq1g9HywTIwLP9+BgLaQ+TBz+ND1WYVByqnKWwQYYFnWDo8xTZmDVxHirml1mLevR7PUbMg55FFxAo4H9K64d4RQJF6FsZhRFpMihTwdsut1BQQJ9lTML133q5ID+XX3L5yr+1GqAgnHh9Qt/Fdt4pG1iRymBR++RBZiBxANpoE23xy5QVySQ4BYlO0s37rhw0SiFlvuSXmKyTB6j52r/71ocCFbZcUDgjKQ8Q0tokzsBvSTuDwV8yh4nw4ec3/zNp03ByeuOwzJ1S7st+vnAF65Ed7v+kcLHzWLZ+ocnXWtt4+47pZm4YdPMukpCQYxNdWrHap9ughtVxOchNbP3QchOx2TA1mVo4S1pI+gNfpjEap8uhyRLTirI0g1weEBWvndKtwHQrauYyW2awOeU/IGZCPPAY71gmvy9O+JZmBOz517zia4YH2wUctI4t/p0j2MDwo8="
