name: Publish

on:
  push:
    branches:
      - main
      - release-*
    tags: ["v*"]

permissions:
  contents: read

jobs:
  release:
    # runs on main repo only
    if: github.event.repository.fork == false
    name: Release
    environment: release
    runs-on: ubuntu-22.04
    env:
      JAVA_OPTS: -Xms2G -Xmx2G -Xss2M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    steps:
      - name: Checkout
        # https://github.com/actions/checkout/releases
        # v3.3.0
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Set up JDK 11
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: temurin:1.11.0.17

      - name: Cache Coursier cache
        # https://github.com/coursier/cache-action/releases/
        # v6.4.3
        uses: coursier/cache-action@d1039466d0812d6370649b9afb02bbf5f646bacf

      - name: Publish artifacts for all Scala versions
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        run: sbt ci-release

  documentation:
    # runs on main repo only
    if: github.event.repository.fork == false
    name: Documentation
    environment: release
    runs-on: ubuntu-22.04
    env:
      JAVA_OPTS: -Xms2G -Xmx2G -Xss2M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    steps:
      - name: Checkout
        # https://github.com/actions/checkout/releases
        # v3.3.0
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Setup JDK 11
        # https://github.com/coursier/setup-action/releases
        # v1.3.0
        uses: coursier/setup-action@70323223454ac2a9eb2de46f389b4d045cbcdea5
        with:
          jvm: temurin:1.11

      - name: Cache Coursier cache
        # https://github.com/coursier/cache-action/releases/
        # v6.4.3
        uses: coursier/cache-action@d1039466d0812d6370649b9afb02bbf5f646bacf

      - name: Publish API and reference documentation
        env:
          GUSTAV_KEY: ${{ secrets.GUSTAV_KEY }}
        run: |+
          eval "$(ssh-agent -s)"
          echo $GUSTAV_KEY | base64 -di > .github/id_rsa
          chmod 600 .github/id_rsa
          ssh-add .github/id_rsa
          sbt docs/publishRsync
